{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    create employee
{% endblock title %}
{% block content %}
    <div class="L-form">
        <h1 class="L-form__header">Formulář zaměstnance</h1>
        <form method="post" class="L-form__form" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="L-form__error">
                    {% for error in form.non_field_errors %}<p class="L-form__error--text">{{ error }}</p>{% endfor %}
                </div>
            {% else %}
                <div class="L-form__error">
                    <p class="L-form__error--text">&nbsp;</p>
                </div>
            {% endif %}
            {% for field in form %}
                <label class="L-form__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <p class="L-form__error--text">{{ field.errors.0 }}</p>
                {% else %}
                    <p class="L-form__error--text">&nbsp;</p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="L-form__submit">Uložit</button>
        </form>
        <a href="{% url "employees" %}" class="L-form__redirect">zpět</a>
    </div>
{% endblock content %}
