{% extends "base.html" %}
{% load static %}
{% block title %}
    create employee
{% endblock title %}
{% block css %}
    <link rel="preload"
          href="{% static 'css/dashboard.css' %}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
{% endblock css %}
{% block body %}
    <div class="c-form">
        <h1 class="c-form__header u-mb-small">Vytvořit zaměstnance</h1>
        <form method="post" class="c-form__form">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div>
                            {% for error in field.errors %}<p class="c-form__alert">{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="c-form__btn">Uložit</button>
        </form>
    </div>
{% endblock body %}
