{% load static %}
<ul class="L-header__list">
    <li class="L-header__item">
        {% if messages %}
            {% for message in messages %}<p class="L-header__text">{{ message }}</p>{% endfor %}
        {% else %}
            <p class="L-header__text">&nbsp; no message</p>
        {% endif %}
    </li>
    <li class="L-header__item">
        <a class="c-ico-btn" href="{% url "login" %}">
            <img src="{% static "images/icons8-login-blue.png" %}"
                 alt="login"
                 width="25"
                 height="25">
            <p class="L-header__text">{{ user_name }}</p>
        </a>
    </li>
</ul>
