{% load static %}
<nav class="l-nav" id="navigationPanel">
    <div class="c-logo">
        <img class="c-logo__img"
             src="{% static "images/icons8-logo.png" %}"
             width="20"
             height="20"
             alt="Project logo">
        <h2 class="c-logo__text">
            Project X <small>&nbsp;v0.5</small>
        </h2>
    </div>
    <ul class="l-nav__list mainlist">
        <!-- Main panel -->
        <li class="l-nav__list__item">
            <a class="c-nav-link fetch-url active_link"
               id="mainPanelBtn"
               href="#"
               data-url="{% url "main_panel" %}">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-control-panel.png" %}"
                     alt="dashboard icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">Main panel</p>
            </a>
        </li>
        <!-- zamestnanci -->
        <li class="l-nav__list__item">
            <a class="c-nav-link c-pointer fetch-url"
               href="#"
               id="employeesBtn"
               data-pointer="left"
               data-url="{% url "employees" %}">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-employees.png" %}"
                     alt="employees icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text ">Zaměstanci</p>
            </a>
            {% include "app_dashboard/sublist_employees.html" %}
        </li>
        <!-- admin panel  -->
        <li class="l-nav__list__item">
            <a class="c-nav-link" href="{% url "admin:index" %}" id="adminPanelBtn">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-admin.png" %}"
                     alt="camera icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">admin panel</p>
            </a>
        </li>
        <!-- camera -->
        <li class="l-nav__list__item">
            <a class="c-nav-link fetch-url" id="cameraBtn" href="#">
                {% comment %}
                data-url="{% url "cam" 10 %}"> {% endcomment %}
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-add-camera.png" %}"
                     alt="camera icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">camera stream</p>
            </a>
        </li>
        <!-- emails -->
        <li class="l-nav__list__item">
            <a class="c-nav-link fetch-url"
               id="emailsBtn"
               href="#"
               data-url="{% url "emails" %}">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-email.png" %}"
                     alt="camera icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">Emails</p>
            </a>
        </li>
        <!-- prehledy -->
        <li class="l-nav__list__item">
            <a class="c-nav-link fetch-url"
               id="emailsBtn"
               href="#"
               data-url="{% url "charts" %}">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-chart.png" %}"
                     alt="chart icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">Přehledy</p>
            </a>
        </li>
        <li class="l-nav__list__item">
            <a class="c-nav-link fetch-url"
               id="emailsBtn"
               href="#"
               data-url="{% url "attendance" %}">
                <img class="c-nav-link__ico"
                     src="{% static "images/icons8-chart.png" %}"
                     alt="chart icon"
                     width="24"
                     height="24">
                <p class="c-nav-link__text">Dochazka</p>
            </a>
        </li>
    </ul>
</nav>
