{% load static %}
<header class="l-header">
    {% if messages %}
        {% for message in messages %}<p class="l-header__text">{{ message }}</p>{% endfor %}
    {% endif %}
    {% if error %}<p class="l-header__error">{{ error }}</p>{% endif %}
    {% if user_exist == "True" %}
        {% include "app_dashboard/header_logged.html" %}
    {% else %}
        {% if user_exist == "False" %}
            {% include "app_dashboard/header_notlogged.html" %}
        {% endif %}
    {% endif %}
</header>
