{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    emails
{% endblock title %}
{% block content %}
    <section class="L-emails">
        <ul class="L-emails__list">
            <li class="L-emails__item">
                <button class="L-emails__btn"
                        type="button"
                        hx-get="{% url 'mail_manual_partial' %}"
                        hx-target="#email-method-fields"
                        hx-swap="innerHTML">Manuální zadání</button>
            </li>
            <li class="L-emails__item">
                <button class="L-emails__btn"
                        type="button"
                        hx-get="{% url 'mail_employee_partial' %}"
                        hx-target="#email-method-fields"
                        hx-swap="innerHTML">Výběr zaměstnanců</button>
            </li>
            <li class="L-emails__item">
                <button class="L-emails__btn"
                        type="button"
                        hx-get="{% url 'mail_department_partial' %}"
                        hx-target="#email-method-fields"
                        hx-swap="innerHTML">Celé oddělení</button>
            </li>
        </ul>
        <form class="L-emails__form" 
              hx-post="{% url 'send_mail_view' %}"
              hx-target="#email-result"
              hx-swap="innerHTML">
            {% csrf_token %}
            
            <!-- Aktuálně zvolená metoda odeslání -->
            <div id="email-method-fields">
                {% include "includes/mail_manual.html" %}
            </div>
        
            <div>
                {{ form.subject.label_tag }}
                {{ form.subject }}
                {% for error in form.subject.errors %}<p>{{ error }}</p>{% endfor %}
            </div>
        
            <!-- Přepínací tlačítka -->    
            <ul class="L-emails__list">
                <li class="L-emails__item">
                    <button type="button"
                            hx-get="{% url 'message_manual_partial' %}"
                            hx-target="#message-area"
                            hx-swap="innerHTML"
                            class="L-emails__btn">Ruční zadání zprávy
                    </button>
                </li>
                <li class="L-emails__item">
                    <button type="button"
                            hx-get="{% url 'mail_template_partial' %}"
                            hx-target="#message-area"
                            hx-swap="innerHTML"
                            class="L-emails__btn">Výběr šablony zprávy
                    </button>
                </li>
            </ul>
        
            <!-- Dynamicky zaměňovaná část pro zadání zprávy -->
            <div id="message-area">
                {{ form.message.label_tag }}
                {{ form.message }}
                {% for error in form.message.errors %}<p>{{ error }}</p>{% endfor %}
            </div>
        
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
                </div>
            {% endif %}
        
            <button type="submit" class="L-form__submit">Odeslat</button>
        </form>

        <div id="email-result"></div>
    </section>
{% endblock content %}
