{% load static %}
<ul class="L-header__list">
    <li class="L-header__item">
        {% for message in messages %}
            <p class="L-header__text u-text-{{ message.tags }}">{{ message }}</p>
        {% empty %}
            <p class="L-header__text u-text-warning">Nejdříve se přihlaste</p>
        {% endfor %}
    </li>
    <li class="L-header__item">
        <a class="L-header__login" href="{% url "login" %}">
            <img src="{% static "images/icons8-login-red.png" %}"
                 data-logged="false"
                 alt="login"
                 width="25"
                 height="25">
            <p class="L-header__text u-text-warning">not-logged</p>
        </a>
    </li>
</ul>
