@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.c-filter {
    @extend %border-radius;
    @extend %select-none;

    margin-block: 1em;
    border: 1px solid black;

    &__list {
        @include flex(flex-start, center);

        flex-wrap: wrap;
        padding: 0.5em;
    }

    &__item {
        font-size: 0.75rem;
        flex-basis: 25%;
        color: var(--scheme-default);
        margin-bottom: 0.3em;

        .form__wrapper {
            @extend %margin-in;
            @extend %border-radius;

            width: 90%;
            border: 1px solid #8080806a;
            padding: 0.3em 0.5em;

            &.checkboxes {
                display: flex;
                text-align: center;

                & > * {
                    flex-basis: 100%;
                }
            }
        }
    }

    &__form {
        input {
            width: 100%;
            padding: 0.5em;
        }

        input[type="checkbox"] {
            display: block;
            padding: 0.5em;
            margin-block: 0.5em;
        }

        select {
            @extend %border-radius;

            width: 100%;
            padding: 0.5em;
        }
    }

    &__banner {
        text-align: left;
        margin-right: 1em;
        padding: 0.3em 1em;
        cursor: pointer;
        width: max-content;
        color: var(--scheme-default-darker);
        transition: all 0.1s ease-in-out;

        &:hover {
            color: var(--scheme-default);
        }

        p {
            display: inline-block;
        }

        img {
            background-color: transparent;
        }
    }
}
