@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.c-ico-btn {
    @include flex(flex-start, center);
    @extend %border-radius;

    transition: all ease-in-out 0.1s;
    padding: 0.3em;
    outline: none;
    border-bottom: 1px solid #52525235;
    text-align: left;

    img {
        background-color: transparent;
        align-content: flex-start;
    }

    p {
        margin-left: 1em;

        &:not(.u-text-success, .u-text-warning, .u-text-info) {
            color: var(--scheme-default);
        }

        &.sublink {
            color: var(--scheme-default-darker);
        }
    }

    &:hover,
    &:focus,
    &.active {
        background-color: var(--scheme-accent);
        box-shadow: 1px 1px 3px black;
    }

    &:active {
        box-shadow: 0 0 1px black;
        transform: translateY(1px) scale(0.99);
    }
}
