@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.c-ico-btn {
    @include flex(flex-start, center);

    transition: all ease-in-out 0.1s;
    border-radius: 5px;
    padding: 0.3em;
    outline: none;
    border-bottom: 1px solid #52525235;

    img {
        background-color: transparent;
    }

    p {
        margin-left: 1em;

        &:not(.u-text-success, .u-text-warning, .u-text-info) {
            color: var(--scheme-default);
        }

        &.sublink {
            color: var(--scheme-default-darker);
        }
    }

    &:hover,
    &:focus,
    &.active {
        background-color: var(--scheme-accent);
        box-shadow: 1px 1px 3px black;
    }
}
