{% extends "base.html" %}
{% load static %}
<meta charset="UTF-8" />
{% block title %}
    main app
{% endblock title %}
<!-- css  -->
{% block css %}
    <link rel="preload"
          href="{% static 'css/main.css' %}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
{% endblock css %}
<!-- no js -->
{% block nojs %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock nojs %}
<!-- end -->
<!--body-->
{% block content %}
    <div class="l-grid-container">
        <main class="l-grid-main">
            <section class="p-check-in__container">
                {% include "app_main/check-in.html" %}
            </section>
            <section class="p-message__container">
                {% include "includes/message.html" %}
            </section>
        </main>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
