<aside class="l-message">
    <h3 class="l-message__header">message of the day</h3>
    <ul class="l-message__list">
        <li class="l-message__item">
            <p class="l-message__text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi veritatis porro omnis totam ipsa nihil voluptate quaerat blanditiis veniam. Dignissimos voluptate dolore cum expedita repellendus facere ad nisi veritatis. Aliquid! <span><a href="#" class="l-message__link">more ...</a></span>
            </p>
        </li>
        <li class="l-message__item">
            <p class="l-message__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab veritatis velit a nam vitae inventore? <span><a href="#" class="l-message__link">more ...</a></span>
            </p>
        </li>
    </ul>
</aside>
