{% load static %}
<ul class="c-sublist" data-show="false" id="employeeSublist">
    <li class="c-sublist__item">
        <img class="c-sublist__item__circle"
             src="{% static "images/icons8-circle.png" %} "
             alt="circle icon"
             width="10"
             height="10">
        <p class="c-sublist__item__text">v praci</p>
    </li>
    <li class="c-sublist__item">
        <img class="c-sublist__item__circle"
             src="{% static "images/icons8-circle.png" %} "
             alt="circle icon"
             width="10"
             height="10">
        <p class="c-sublist__item__text">na dovolene</p>
    </li>
    <li class="c-sublist__item">
        <img class="c-sublist__item__circle"
             src="{% static "images/icons8-circle.png" %} "
             alt="circle icon"
             width="10"
             height="10">
        <p class="c-sublist__item__text">neschopnost</p>
    </li>
</ul>
