{% load static %}
<ul class="l-nav__list sublist" id="employeeSublist">
    <li class="l-nav__list__item ">
        <a class="ajax-link c-nav-link" href="#" data-url="{% url "working" %}">
            <img class="c-nav-link__ico"
                 src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="c-nav-link__text">v praci</p>
        </a>
    </li>
    <li class="l-nav__list__item">
        <a class="ajax-link c-nav-link" href="#" data-url="{% url "vacation" %}">
            <img class="c-nav-link__ico"
                 src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="c-nav-link__text">na dovolene</p>
        </a>
    </li>
    <li class="l-nav__list__item">
        <a class="ajax-link c-nav-link" href="#" data-url="{% url "sick" %}">
            <img class="c-nav-link__ico"
                 src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="c-nav-link__text">neschopnost</p>
        </a>
    </li>
</ul>
