.c-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 0.3em;
    border-bottom: 1px solid #52525235;

    img {
        background-color: transparent;
        animation: logo-rotation 2s ease-in-out 2s forwards;
        margin-right: 0.5em;
    }

    &__text {
        color: var(--scheme-success);
        font-weight: bolder;
        padding-block: 0.3em;

        small {
            color: var(--scheme-clr-4);
        }
    }
}
