@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.c-time {
    text-align: center;

    &__text {
        font-family: "jet brains", monospace;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-shadow: 1px 1px 3px black;
        margin-bottom: 0.3em;
    }
}
