/* --- home --- */

@use "../utils/" as *;
@use "../base/placeholders" as *;

.P-container {
    @include container(31.25rem, 64rem, 1em);
    @include flex(flex-start, flex-start, 1em);

    background-color: var(--scheme-clr-1);

    .P-navigation {
        background: var(--background-clr-gradient-primary);
        height: 100dvh;
        flex-basis: 12.5rem;
        flex-shrink: 0;
        box-shadow: 3px 0 1px #00000010;
    }

    .P-right-side {
        @include flex(flex-start, flex-start, 1em);

        flex-grow: 1;
        height: 100dvh;
        flex-direction: column;
    }
}
