<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="{% url "cam" 10 %}">Camera stream</a>
            </li>
            <li class="nav__list__item">
                <a href="#">item 2</a>
            </li>
            <li class="nav__list__item">
                <a href="#">item 3</a>
            </li>
            <li class="nav__list__item">
                <a href="#">item 4</a>
            </li>
            <li class="nav__list__item">
                <a href="#">item 5</a>
            </li>
        </ul>
    </nav>
</header>
