@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-choose {
    &__header {
        display: inline-block;
        padding-bottom: 0.3em;
        border-bottom: 1px solid var(--scheme-default);
    }

    &__list {
        @extend %margin-in;
        @extend %border-radius;

        width: 50%;
        padding: 2em 1em;
        margin-top: 3em;
        box-shadow: 1px 1px 5px black;
    }

    &__item {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        button {
            @extend %border-radius;

            width: 80%;
            border: none;
            padding-block: 0.5em;
            background-color: var(--scheme-clr-8);
            font-size: 3rem;
            cursor: pointer;
            transition: 0.1s all ease-in-out;
            box-shadow: 1px 1px 5px black;
        }

        button:hover {
            background-color: var(--scheme-accent);
            transform: translateY(1px);
        }
    }

    &__hide {
        pointer-events: none;
        opacity: 0.3;
    }
}
