/* --- grid --- */

@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.l-grid-container {
    @include container(40rem, 71.25rem, 0);

    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 1px 3px 5px black;
    position: relative;
    isolation: isolate;
}

.l-grid-main {
    display: flex;
    flex-grow: 1;
    background-image: var(--background-clr-gradient-primary);
}
