@use "../../utils/" as *;
@use "../../base/placeholders" as *;

$l-message-border-bottom: #545454;

.l-message {
    border-radius: 5px;
    padding: 0.5em;
    background-color: var(--background-clr-message);
    box-shadow: 1px 3px 5px black;
    overflow: auto;

    &__header {
        color: white;
        margin-bottom: 1em;
        border-bottom: 1px solid $l-message-border-bottom;
    }
    &__list {
    }

    &__item {
        margin-bottom: 1em;
        padding-block: 0.5em;
        border-bottom: 1px solid $l-message-border-bottom;
    }

    &__text {
        font-size: 0.9rem;
        color: var(--text-clr-default);
        line-height: 1.5;
    }

    &__link {
        padding-inline: 0.5em;
        color: var(--primary-clr-secondary);
        transition: all 0.1s ease-in-out;
        box-shadow: 1px 1px 4px #0000005b;
        margin-left: 3px;

        &:hover {
            color: white;
        }

        &:active {
            box-shadow: 1px 1px 1px #0007;
            transform: translateY(1px);
        }
    }
}
