/* --- header --- */
@use "../utils/" as *;

$l-header-btm-radius: 5px;
$l-header-context: 16;

.l-header {
    width: 100%;
    padding: em(10, $l-header-context) em(8, $l-header-context);
    background-image: var(--background-clr-gradient-secondary);
    border-bottom-right-radius: $l-header-btm-radius;
    border-bottom-left-radius: $l-header-btm-radius;
    box-shadow: 1px 1px 2px #00000071;
    margin-bottom: em(16, $l-header-context);

    &__list {
    }

    &__item {
    }
    
    &__user-link {
    }
}
