/* --- navigation --- */

@use '../utils/' as *;


.l-nav {
    background-image: var(--background-clr-gradient-secondary);
    width: em(200,16);
    padding: em(16,16);

    &__list{
        &__item{
            &:not(:last-child){
                margin-bottom: .3rem;
            }
        }
    }  
}
