/* --- navigation --- */

@use '../utils/' as *;


.l-nav {
    background-image: var(--background-clr-gradient-secondary);
    width: em(200,16);
    padding: em(16,16);

    &__list{
        margin-top: 4rem;

        &__item{
            border-radius: .25rem;
            transition: all,ease-in-out, .2s;

            &:not(:last-child){
                margin-bottom: .3rem;
            }
            
            &__zam{
                position: relative;

                &::after{
                    content: ">";
                    font-size: 1rem;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    right: em(16,16);
                    transform: translateY(50%);
                }
            }
        }
    }
    
}
