/* --- base --- */
/* --- root --- */
/* --- normalize --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: "button";
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: "button";
  font: inherit;
}

summary {
  display: list-item;
}

/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- base --- */
body, body.home {
  opacity: 1;
  background-color: #333;
}

/* --- placeholders --- */
/* --- utils --- */
.u-center-text {
  text-align: center;
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

.u-mt-medium {
  margin-top: 2.5rem;
}

/* --- typography --- */
@font-face {
  font-family: orbitron;
  src: url("../fonts/webfonts/Font-face/Orbitron-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono-Italic.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Regular.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Bold.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Light.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Thin.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-family: lato, serif;
}

/* --- base --- */
body {
  opacity: 1;
}

/*# sourceMappingURL=base.css.map */
