.header {
  width: 100%;
  background-color: rgb(82, 82, 82);
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list > * {
  list-style: none;
  padding: 1rem 1rem;
}
.nav__list > * a {
  text-decoration: none;
}
