/* --- root --- */
/* --- light theme--- */
:root {
  --primary-clr-default: #7ed56f;
  --primary-clr-primary: white;
  --secondary-clr-secondary: gray;
  --ternary-clr-ternary-1: #7369ff;
  --ternary-clr-ternary-2: #6158d8;
  --ternary-clr-ternary-3: #5049b2;
  --text-clr-default: #d2d2d2;
  --text-clr-dark: #111;
  --text-clr-btn: #777;
  --background-clr-default: #fff;
  --background-clr-nav: #1f2537;
  --background-clr-nav-pointer: #2a324e;
  --background-clr-content: #161c32;
  --background-clr-header: #f7f7f7;
  --background-clr-dark: #000;
  --background-clr-gradient-primary: linear-gradient(to right bottom, #161c32, #2a324e);
  --background-clr-gradient-secondary: linear-gradient(to right bottom, #1f2537, #2b2b2b);
  --background-clr-gradient-ternary: linear-gradient(to right bottom, #7369ff, #4a44a5);
  --background-clr-gradient-quartery: linear-gradient(to right bottom, #5049b2, #3c3785);
  --shadow-clr-default: rgba(0, 0, 0, 0.3);
  --shadow-clr-higher: rgba(0, 0, 0, 0.5);
}

[data-font-size=desktop] {
  --primary: 4rem;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 1rem;
}

[data-font-size=tablet] {
  --primary: 3;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 1rem;
}

[data-font-size=mobile] {
  --primary: 2;
  --secondary: 2.1875rem;
  --tertiary: 1rem;
  --paragraph: 1rem;
  --button: 0.5rem;
}

/* --- normalize --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: "button";
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: "button";
  font: inherit;
}

summary {
  display: list-item;
}

/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- base --- */
body, body.home {
  opacity: 1;
  background-color: #333;
}

/* --- placeholders --- */
/* --- utils --- */
.u-center-text {
  text-align: center;
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

/* --- typography --- */
@font-face {
  font-family: grotesk;
  src: url("../fonts/webfonts/Font-face/SpaceGrotesk-VariableFont_wght.woff2") format("woff2-variations"), url("../fonts/webfonts/Font-face/SpaceGrotesk-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Regular.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Bold.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Light.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: lato;
  src: url("../fonts/webfonts/Font-face/static/Lato-Thin.woff2") format("woff2"), url("../fonts/webfonts/Font-face/static/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-family: lato, serif;
}

/* --- home --- */
.p-home-section {
  flex: 1;
}

/* --- grid --- */
.l-grid-container {
  width: clamp(40rem, 100%, 120rem);
  padding-inline: 0;
  margin-inline: auto;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.l-grid-main {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  background-image: var(--background-clr-gradient-primary);
}

/* --- navigation --- */
.l-nav {
  background-image: var(--background-clr-gradient-secondary);
  width: 12.5em;
  padding: 1em;
  overflow: hidden;
}
.l-nav__list__item:not(:last-child) {
  margin-bottom: 0.3rem;
}
.l-nav__list.mainlist {
  margin-top: 2rem;
}
.l-nav__list.sublist {
  margin-left: 1em;
  padding: 1em 0;
  display: none;
}

/* --- header --- */
/* --- footer --- */
/* --- navlink componenta --- */
.c-nav-link {
  --trans-time: 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  color: var(--text-clr-default);
  padding-block: 0.5em;
  border-radius: 0.3125em;
  user-select: none;
  transition: all ease-in-out var(--trans-time);
  overflow: hidden;
  position: relative;
  isolation: isolate;
}
.c-nav-link, .c-nav-link > * {
  z-index: 100;
}
.c-nav-link::before {
  content: "";
  border-radius: 0.3125em;
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.0862745098) 0%, rgba(0, 0, 0, 0.031372549) 100%), var(--background-clr-gradient-ternary);
  filter: blur(1px);
  transition: opacity ease-in-out var(--trans-time);
  opacity: 0;
  z-index: 1;
}
.c-nav-link:hover, .c-nav-link:focus, .c-nav-link.active_link {
  color: white;
  box-shadow: 1px 3px 10px black;
}
.c-nav-link:hover::before, .c-nav-link:focus::before, .c-nav-link.active_link::before {
  opacity: 1;
}
.c-nav-link:active {
  box-shadow: 1px 1px 4px black;
  transform: translateY(-1px);
}
.c-nav-link__ico, .c-nav-link__next {
  background-color: transparent;
  margin-inline: 0.3rem;
}
.c-nav-link__text {
  flex: 1;
  margin-inline: 0.3rem;
  text-align: left;
}
.c-nav-link.sublink::before {
  background-image: var(--background-clr-gradient-quartery);
}
.c-nav-link.sublink:hover, .c-nav-link.sublink:focus, .c-nav-link.sublink.active_link {
  opacity: 0.9;
}

.c-pointer {
  --pointer-size: 1rem;
  position: relative;
}
.c-pointer::after {
  content: ">>";
  z-index: 100;
  position: absolute;
  letter-spacing: -4px;
  font-size: var(--pointer-size);
  font-weight: 900;
  top: 50%;
  transform: translate(0, -50%);
  right: 1em;
  transition: all 0.2s ease-in-out;
}

[data-pointer=down].c-pointer:not(.active_link) {
  outline: 1px solid #fff;
  background-color: var(--background-clr-nav-pointer);
}
[data-pointer=down].c-pointer::after {
  letter-spacing: -14px;
  transform: translate(0%, -50%) rotate(90deg);
}

/*# sourceMappingURL=home.css.map */
