/* --- main --- */
/* --- root for main --- */
:root {
  --scheme-clr-1: #2a2b2e;
  --scheme-clr-2: #2c2e32;
  --scheme-clr-3: #252831;
  --scheme-clr-4: #5a5a66;
  --scheme-clr-5: #a4c2a8;
  --scheme-clr-6: #aceb98;
  --scheme-clr-7: #87ff65;
  --scheme-clr-8: #2cb67d;
  --scheme-clr-9: #dd7373;
  --scheme-default: #d2d2d2;
  --scheme-default-darker: #9f9e9e;
  --scheme-accent: rgba(109, 60, 255, 0.862745098);
  --scheme-accent-darker: rgba(75, 35, 193, 0.862745098);
  --scheme-success: #339af0;
  --scheme-info: #54da54;
  --scheme-warning: #ff3c00;
  --background-clr-gradient-primary: linear-gradient(to right bottom, #2a2b2e, #2f3542);
}

/* --- normalize --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: "button";
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: "button";
  font: inherit;
}

summary {
  display: list-item;
}

/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- base --- */
body,
body.home {
  opacity: 1;
  background-color: var(--scheme-clr-1);
}

/* --- placeholders --- */
.L-header {
  position: relative;
  isolation: isolate;
}

.L-header .c-logo {
  position: absolute;
}

.c-numpad, .c-numpad__pin-block, .c-numpad__list, .c-camera, .c-scan, .L-check-in__error-frame {
  margin-inline: auto;
}

.P-container, .c-info-highlight {
  user-select: none;
}

.c-info-highlight, .c-numpad, .c-numpad__pin-block, .c-numpad__list, .c-numpad__item, .c-camera__video, .c-scan__submit {
  border-radius: 5px;
}

/* --- utils --- */
.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-success {
  color: var(--scheme-success);
}

.u-text-info {
  color: var(--scheme-info);
}

.u-text-warning {
  color: var(--scheme-warning);
}

.u-text-error {
  color: var(--scheme-warning);
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

.u-mt-medium {
  margin-top: 2.5rem;
}

.u-neg-merge-sml-left {
  margin-left: -0.1em;
}

/* --- typography --- */
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/JetBrainsMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono-Italic.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/webfonts/Font-face/roboto.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/roboto.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-family: roboto, serif;
}

.L-header .c-logo {
  top: 0;
  left: 0;
}

.L-pin__header {
  text-align: center;
  color: var(--scheme-default);
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.L-check-in__error-frame {
  width: 50%;
}
.L-check-in__error-frame__text {
  padding: 0.3em 0.5em;
  color: var(--scheme-warning);
}

/* --- footer --- */
.c-time {
  text-align: center;
}
.c-time__text {
  font-family: "jet brains", monospace;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px black;
}

.c-scan {
  width: clamp(12.5rem, 30%, 20rem);
}
.c-scan__submit {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 2rem;
  padding: 0.5em;
  background-color: var(--scheme-clr-8);
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.c-scan__submit:hover, .c-scan__submit:focus {
  background-color: var(--scheme-accent-darker);
}
.c-scan__submit:active {
  transform: translateY(1px);
  color: var(--scheme-clr-9);
}

.c-camera {
  width: 50%;
}
.c-camera__video {
  border: 1px solid black;
}

.c-numpad {
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5529411765);
  border: 1px solid black;
  padding: 0.5em;
}
.c-numpad__pin-block {
  width: 33%;
  background-color: #3b4453;
  min-height: 2rem;
  text-align: center;
  margin-bottom: 0.3em;
}
.c-numpad__star {
  font-size: 3rem;
  line-height: 0;
  padding-top: 0.45em;
}
.c-numpad__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80%;
  padding: 0.5em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  border: 1px solid rgba(72, 72, 72, 0.5294117647);
}
.c-numpad__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-basis: 33%;
  text-align: center;
  aspect-ratio: 1;
  background-image: var(--background-clr-gradient-primary);
  opacity: 0.8;
  transform: scale(0.9);
  box-shadow: 0 0 1px 1px rgba(64, 101, 125, 0.3411764706);
  transition: all 0.1s ease-in-out;
  border: 1px solid rgba(41, 41, 41, 0.3725490196);
  cursor: pointer;
  backface-visibility: hidden;
}
.c-numpad__item:hover, .c-numpad__item:focus {
  box-shadow: 0 0 1px 1px #40657d;
}
.c-numpad__item:active {
  transform: scale(0.85);
  color: var(--scheme-success);
}
.c-numpad__item[data-show=hide] {
  opacity: 0.3;
  pointer-events: none;
}
.c-numpad__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px #0062ff;
  cursor: pointer;
}
.c-numpad__text.enter, .c-numpad__text.del {
  font-size: 1.3rem;
}
.c-numpad__text.enter {
  appearance: none;
  width: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
}

.c-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0.3em;
  border-bottom: 1px solid rgba(82, 82, 82, 0.2078431373);
}
.c-logo img {
  background-color: transparent;
  animation: logo-rotation 2s ease-in-out 2s forwards;
  margin-right: 0.5em;
}
.c-logo__text {
  color: var(--scheme-success);
  font-weight: bolder;
  padding-block: 0.3em;
}
.c-logo__text small {
  color: var(--scheme-clr-4);
}

.c-info-highlight {
  display: inline-block;
  padding: 0.3em 0.5em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4392156863);
  border: 1px solid rgba(0, 0, 0, 0.2431372549);
}

@keyframes card-rotation {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
  80% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(0deg); /* Pauza na konci */
    opacity: 1;
  }
}
@keyframes logo-rotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg); /* Pauza na konci */
  }
}
/* --- main --- */
.P-container {
  width: clamp(31.25rem, 100%, 64rem);
  padding-inline: 1em;
  margin-inline: auto;
}

/*# sourceMappingURL=main.css.map */
