/* --- main --- */
/* --- root for main --- */
:root {
  --primary-clr-primary-1: white;
  --secondary-clr-secondary-1: #339af0;
  --secondary-clr-secondary-2: #2d88d6;
  --secondary-clr-secondary-3: #2879bd;
  --ternary-clr-ternary-1: #7369ff;
  --ternary-clr-ternary-2: #6158d8;
  --ternary-clr-ternary-3: #5049b2;
  --text-clr-default: #d2d2d2;
  --text-clr-secondary: #339af0;
  --background-clr-default: #fff;
  --background-clr-login-btn: #1881d6;
  --background-clr-login-btn-hover: #339af0;
  --background-clr-message: #2a324e;
  --background-clr-numpad: #2c364e;
  --background-clr-gradient-primary: linear-gradient(to right bottom, #161c32, #2a324e);
  --background-clr-gradient-secondary: linear-gradient(to right bottom, #1f2537, #2b2b2b);
  --background-clr-gradient-ternary: linear-gradient(to right bottom, #4f4f4f, #363636);
  --background-clr-gradient-quartery: linear-gradient(to right bottom, #5049b2, #3c3785);
  --shadow-clr-default: rgba(0, 0, 0, 0.3);
  --shadow-clr-higher: rgba(0, 0, 0, 0.5);
}

/* --- normalize --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: "button";
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: "button";
  font: inherit;
}

summary {
  display: list-item;
}

/* --- reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- base --- */
body,
body.home {
  opacity: 1;
  background-color: var(--scheme-clr-1);
}

/* --- placeholders --- */
.c-info__pin, .c-camera-frame {
  position: relative;
  isolation: isolate;
}

.c-camera-frame .side {
  position: absolute;
}

.c-info, .c-numpad, .c-camera-frame__video, .c-camera-frame .front-side .btn {
  margin-inline: auto;
}

.c-numpad__list, .c-logo {
  user-select: none;
}

/* --- utils --- */
.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-success {
  color: var(--scheme-success);
}

.u-text-info {
  color: var(--scheme-info);
}

.u-text-warning {
  color: var(--scheme-warning);
}

.u-mb-small {
  margin-bottom: 1rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-big {
  margin-bottom: 5rem;
}

.u-mt-medium {
  margin-top: 2.5rem;
}

/* --- typography --- */
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/JetBrainsMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "jet brains";
  src: url("../fonts/webfonts/Font-face/JetBrainsMono-Italic.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/webfonts/Font-face/roboto.ttf") format("truetype-variations"), url("../fonts/webfonts/Font-face/roboto.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-family: roboto, serif;
}

/* --- grid --- */
.l-grid-container {
  width: clamp(40rem, 100%, 71.25rem);
  padding-inline: 0;
  margin-inline: auto;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 1px 3px 5px black;
  position: relative;
  isolation: isolate;
}

.l-grid-main {
  display: flex;
  flex-grow: 1;
  background-image: var(--background-clr-gradient-primary);
}

.l-header {
  position: relative;
  isolation: isolate;
}
.l-header .c-logo {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.l-check-in-container {
  width: 100%;
  height: 80%;
  padding: 0.5em;
}

.l-message {
  border-radius: 5px;
  padding: 0.5em;
  background-color: var(--background-clr-message);
  box-shadow: 1px 3px 5px black;
  overflow: auto;
}
.l-message__header {
  color: white;
  margin-bottom: 1em;
  border-bottom: 1px solid #545454;
}
.l-message__item {
  margin-bottom: 1em;
  padding-block: 0.5em;
  border-bottom: 1px solid #545454;
}
.l-message__text {
  font-size: 0.9rem;
  color: var(--text-clr-default);
  line-height: 1.5;
}
.l-message__link {
  padding-inline: 0.5em;
  color: var(--primary-clr-secondary);
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3568627451);
  margin-left: 3px;
}
.l-message__link:hover {
  color: white;
}
.l-message__link:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4666666667);
  transform: translateY(1px);
}

/* --- footer --- */
.c-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.c-logo__text {
  color: var(--text-clr-logo);
  font-size: 1rem;
  text-shadow: 1px 1px 2px black;
  margin-left: 0.5em;
}
.c-logo__text small {
  color: grey;
}
.c-logo__img {
  background-color: transparent;
}

.c-button {
  color: var(--text-clr-default);
  text-align: center;
  border-radius: 5px;
  background-color: var(--background-clr-btn);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4980392157);
  padding: 0.5em 1em;
  border: none;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.c-button:hover {
  background-color: var(--background-clr-btn-hover);
  color: white;
}
.c-button:active {
  box-shadow: 1px 1px 2px black;
  transform: translateY(1px);
}

.c-time {
  text-align: center;
}
.c-time__text {
  font-family: "jet brains", monospace;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 0.3em;
}

.c-camera-frame {
  --transition-time: 0.7s;
  width: 100%;
  height: 100%;
  transition: all var(--transition-time) ease-in-out;
  text-align: center;
}
.c-camera-frame__video {
  display: block;
  width: 70%;
  aspect-ratio: 1;
}
.c-camera-frame .side {
  inset: 0;
}
.c-camera-frame .front-side {
  z-index: 100;
}
.c-camera-frame .front-side .btn {
  width: 40%;
  margin-top: 3rem;
  display: block;
  font-size: 3rem;
  padding: 0.5em;
  letter-spacing: 2px;
}
.c-camera-frame .front-side__info {
  color: red;
  padding: 0.5em;
}
.c-camera-frame .back-side {
  z-index: 10;
}

.c-numpad {
  width: 100%;
  background-image: var(--background-clr-gradient-primary);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5529411765);
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5em;
}
.c-numpad__list {
  width: 70%;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgba(72, 72, 72, 0.5294117647);
}
.c-numpad__item {
  flex-basis: 33%;
  text-align: center;
  padding: 0.25em;
}
.c-numpad__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  margin-inline: auto;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3058823529), 0 0 2px 1px rgba(0, 136, 255, 0.491);
  background-image: radial-gradient(circle at 10%, rgba(255, 255, 255, 0.0392156863) 10%, rgba(0, 0, 0, 0.031372549) 50%), var(--background-clr-gradient-ternary);
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.1s ease-in-out;
}
.c-numpad__text:hover {
  opacity: 1;
}
.c-numpad__text:active {
  backface-visibility: hidden;
  transform: translateY(1px) scale(0.98);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3058823529), 0 0 2px 1px var(--secondary-clr-secondary-2);
  color: var(--text-clr-secondary);
}

.c-info {
  width: 100%;
  padding: 1em;
  background-color: #303030;
  text-align: center;
}
.c-info__pin::after {
  content: "ahoj";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

/* --- main --- */
.p-check-in__container {
  flex-basis: 70%;
  padding: 1em;
}

.p-message__container {
  flex-basis: 30%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
