{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    attendance
{% endblock title %}
{% block content %}
    <div class="content__container">
        <h1>Formular dochazky</h1>
        <p>Vyber mesice</p>
        <form action="{% url "attendance" %}" method="post">
            {% csrf_token %}
            <select name="month">
                <option value="1">Leden</option>
                <option value="2">Únor</option>
                <option value="3">Březen</option>
                <option value="4">Duben</option>
                <option value="5">Květen</option>
                <option value="6">Červen</option>
                <option value="7">Červenec</option>
                <option value="8">Srpen</option>
                <option value="9">Září</option>
                <option value="10">Říjen</option>
                <option value="11">Listopad</option>
                <option value="12">Prosinec</option>
            </select>
            <button type="submit">Odeslat</button>
        </form>
    </div>
    <hr>
    <section>
        <p>
            Zvoleny mesic:
            {% if result %}
                <span class="c-info-highlight u-text-success">{{ result }}</span>
            {% else %}
                <span class="c-info-highlight u-text-success">nezvoleno</span>
            {% endif %}
        </p>
    </section>
    <section>
        {% for employee_hour in employee_hours %}
            <p>
                {{ employee_hour.employee }} <span class="c-info-highlight u-text-success">{{ employee_hour.worked_hours }}</span>
            </p>
        {% endfor %}
    </section>
{% endblock content %}
