{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    emails
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock css %}
{% block content %}
    <!-- Odkaz pro otevření modálního okna -->
  <a href="#modal" hx-get="{% url 'modal' %}" hx-target="#modal-content">
    Otevřít modální okno
  </a>

  <!-- Modal overlay s kotvou #modal -->
  <div id="modal" class="modal-overlay">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
{% endblock content %}
