{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    Create employee
{% endblock title %}
{% block content %}
    <section class="L-list">
        <div class="L-list__wrapper">
            <h2 class="L-list__title">
                <img src="{% static 'images/icons8-list.png' %}"
                     alt="delete icon"
                     width="24"
                     height="24">
                Seznam zaměstnanců
            </h2>
            <a class="c-ico-btn" href="{% url 'create_emp' %}">
                <img src="{% static 'images/icons8-login-blue.png' %}"
                     alt="delete icon"
                     width="24"
                     height="24">
                <p>Přidat zaměstnance</p>
            </a>
        </div>
        <p class="L-list__info">
            počet zaměstnanců:&nbsp;<span class="u-text-success">{{ employees.count }}</span>
        </p>
        <table class="L-list__table">
            <thead class="L-list__table-header">
                <tr class="L-list__table-row">
                    <th class="L-list__table-heading">ID</th>
                    <th class="L-list__table-heading">Jméno</th>
                    <th class="L-list__table-heading">Příjmení</th>
                    <th class="L-list__table-heading">Email</th>
                    <th class="L-list__table-heading">Ulice</th>
                    <th class="L-list__table-heading">Město</th>
                    <th class="L-list__table-heading">PSC</th>
                    <th class="L-list__table-heading">Telefon</th>
                    <th class="L-list__table-heading">Datum narození</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr class="L-list__table-row">
                        <td class="L-list__table-cell id">{{ employee.id }}</td>
                        <td class="L-list__table-cell name">{{ employee.name }}</td>
                        <td class="L-list__table-cell surname">{{ employee.surname }}</td>
                        <td class="L-list__table-cell email">{{ employee.email }}</td>
                        <td class="L-list__table-cell street">{{ employee.street_number }}</td>
                        <td class="L-list__table-cell city">{{ employee.city }}</td>
                        <td class="L-list__table-cell psc">{{ employee.postal_code }}</td>
                        <td class="L-list__table-cell phone">{{ employee.phone_number }}</td>
                        <td class="L-list__table-cell date">{{ employee.date_of_birth }}</td>
                        <td class="L-list__table-cell CAT">
                            <div class="L-list__actions">
                                <a class="c-ico-btn" href="{% url "del_employee" employee.id %}">
                                    <img src="{% static 'images/icons8-delete-48-red.png' %}"
                                         alt="delete icon"
                                         width="24"
                                         height="24">
                                    <p>smazat</p>
                                </a>
                                <a class="c-ico-btn" href="#">
                                    <img class="list__action-icon"
                                         src="{% static 'images/icons8-update-blue.png' %}"
                                         alt="update icon"
                                         width="24"
                                         height="24">
                                    <p class="list__action-text">update</p>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}
