{% load static %}
<div class="content__container">
    <h1>Pocet vsech maniku co jsou zamestnanci</h1>
    <h1>Pocet vsech maniku co jsou brigadnik</h1>
    <h2>vypsani zamestancu podle stredisek</h2>
    <h1>1x reditel</h1>
    <h1>24x vedeni</h1>
    <h2>1x udrzbar z toho 1x brigadnik</h2>
    <h2>1x uklizezka z toho 1x brigadnik</h2>
    <section class="l-employees">
        <ul class="l-employees__list">
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   data-url="{% url "create_employees" %}">
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-employees.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Přidat zaměstnance</p>
                </a>
            </li>
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   data-url="{% url "update_employees" %}">
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-employees.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Update zaměstnance</p>
                </a>
            </li>
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   data-url="{% url "del_employees" %}">
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-employees.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Smazat zaměstnance</p>
                </a>
            </li>
        </ul>
    </section>
</div>
