{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    Employee detail
{% endblock title %}
{% block content %}
    <div class="L-detail">
        <h1 class="L-detail__header">
            Detail zaměstnance:&nbsp; <span class="L-detail__header--username c-info-highlight">"{{ employee.name }} {{ employee.surname }}"</span>
        </h1>
        <ul class="L-detail__list">
            <li class="L-detail__item">
                <p>
                    <strong>Jméno a příjmení:</strong><span class="c-info-highlight">{{ employee.name }} {{ employee.surname }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Email:</strong>
                    <span class="c-info-highlight">{{ employee.email }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Telefon:</strong><span class="c-info-highlight">{{ employee.phone_number }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Adresa:</strong>
                    <span class="c-info-highlight">{{ employee.street_number }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Adresa:</strong><span class="c-info-highlight">{{ employee.city }} {{ employee.postal_code }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Věk:</strong><span class="c-info-highlight">{{ employee.age }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    {% if employee.department %}
                        <strong>Department:</strong> &nbsp;<span class="u-text-success c-info-highlight">{{ employee.department }}</span>
                    {% else %}
                        <strong>Department:&nbsp;<b class="u-text-info c-info-highlight">nezařazen</b></strong>
                    {% endif %}
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Pracovni status:</strong> <span class="c-info-highlight">{{ employee.employee_status.get_name_display }}</span>
                </p>
            </li>
            <li class="L-detail__item">
                <p>
                    <strong>Účet v pořádku?:</strong>&nbsp;
                    {% if employee.is_valid == True %}
                        <span class="u-text-success c-info-highlight">ANO</span>
                    {% else %}
                        <span class="u-text-warning c-info-highlight">NE</span>
                    {% endif %}
                </p>
            </li>
            <li class="L-detail__item">
                <div class="L-detail__actions">
                    <a class="c-ico-btn" href="{% url 'delete_employee' employee.slug %}">
                        <img src="{% static 'images/icons8-delete-48-red.png' %}"
                             alt="delete icon"
                             width="24"
                             height="24">
                        <p>smazat</p>
                    </a>
                    <a class="c-ico-btn" href="{% url 'update_employee' employee.slug %}">
                        <img class="list__action-icon"
                             src="{% static 'images/icons8-update-blue.png' %}"
                             alt="update icon"
                             width="24"
                             height="24">
                        <p class="list__action-text">update</p>
                    </a>
                    <a class="c-ico-btn" href="{% url 'take_vector' employee.slug %}">
                        <img class="list__action-icon"
                             src="{% static 'images/icons8-vector.png' %}"
                             alt="facevektor icon"
                             width="24"
                             height="24">
                        <p class="list__action-text">Facevector</p>
                    </a>
                </div>
            </li>
        </ul>
        <a href="{% url 'employees' %}" class="L-detail__redirect">Zpět na seznam uživatelů</a>
    </div>
{% endblock content %}
