{% load static %}
<div class="content__container">
    <section class="l-employees">
        <ul class="l-employees__list">
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   {% comment %}
                   data-url="{% url "create_employees" %}"
                   {% endcomment %}>
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-add-male-user-group.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Přidat zaměstnance</p>
                </a>
            </li>
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   {% comment %}
                   data-url="{% url "update_employees" %}"
                   {% endcomment %}>
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-update-blue.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Update zaměstnance</p>
                </a>
            </li>
            <li class="l-employees__item">
                <a class="c-nav-link fetch-url"
                   href="#"
                   {% comment %}
                   data-url="{% url "del_employees" %}"
                   {% endcomment %}>
                    <img class="c-nav-link__ico"
                         src="{% static "images/icons8-delete-48-red.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p class="c-nav-link__text ">Smazat zaměstnance</p>
                </a>
            </li>
        </ul>
    </section>
</div>
