{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    main panel
{% endblock title %}
{% block content %}
    <section class="L-departments">
        <p class="L-departments__header">
            výpis organizačních struktur: <i>nalezeno 3</i>
        </p>
        <ul class="L-departments__list">
            <li class="L-departments__item c-count">
                <div class="L-departments__info c-count__content">
                    <p class="c-count__content__info">123</p>
                </div>
                <p class="c-count__name">uklid</p>
            </li>
            <li class="L-departments__item c-count">
                <div class="L-departments__info c-count__content">
                    <p class="c-count__content__info">123</p>
                </div>
                <p class="c-count__name">uklid</p>
            </li>
        </ul>
    </section>
    <section class="L-controls">
        <ul class="L-controls__list">
            <li class="L-controls__item">
                <a class="c-ico-btn" href="{% url "user_list" %}">
                    <img src="{% static "images/icons8-login-blue.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p>Users</p>
                </a>
            </li>
            <li class="L-controls__item">
                <a class="c-ico-btn" href="{% url "department_list" %}">
                    <img class="L-controls__ico"
                         src="{% static "images/icons8-add-group.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p>Departements</p>
                </a>
            </li>
        </ul>
    </section>
{% endblock content %}
