{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    main panel
{% endblock title %}
{% block content %}
    <section class="L-departments">
        <p class="L-departments__header">
            výpis organizačních struktur: <i>nalezeno: {{ departments.count }}</i>
        </p>
        <ul class="L-departments__list c-count">
            {% for department in departments %}
                <li class="L-departments__item c-count__card">
                    <a href="{% url "department_detail_list" department.id %}"
                       class="L-departments__link">
                        <div class="c-count__card__content">
                            <p class="c-count__card__content__info">{{ department.employee_count }}</p>
                        </div>
                        <p class="c-count-card__name">{{ department.name }}</p>
                    </a>
                </li>
            {% empty %}
                <p>empty</p>
            {% endfor %}
        </ul>
    </section>
    <section class="L-controls">
        <ul class="L-controls__list">
            <li class="L-controls__item">
                <a class="c-ico-btn" href="{% url "user_list" %}">
                    <img src="{% static "images/icons8-login-blue.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p>Users</p>
                </a>
            </li>
            <li class="L-controls__item">
                <a class="c-ico-btn" href="{% url "department_list" %}">
                    <img class="L-controls__ico"
                         src="{% static "images/icons8-add-group.png" %}"
                         alt="employees icon"
                         width="24"
                         height="24">
                    <p>Departements</p>
                </a>
            </li>
        </ul>
    </section>
{% endblock content %}
