<!-- toto je sublist do nav listu -->
{% load static %}
<ul class="L-navigation__sublist">
    <li class="L-navigation__item">
        <a class="c-ico-btn {% if active_link == 'works' %}active{% endif %}"
           href="{% url "working" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="sublink">V práci</p>
        </a>
    </li>
    <li class="L-navigation__item">
        <a class="c-ico-btn {% if active_link == 'vacations' %}active{% endif %}"
           href="{% url "vacation" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="sublink">Na dovolené</p>
        </a>
    </li>
    <li class="L-navigation__item">
        <a class="c-ico-btn {% if active_link == 'sick' %}active{% endif %}"
           href="{% url "sick" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="sublink">Neschopnost</p>
        </a>
    </li>
    <li class="L-navigation__item">
        <a class="c-ico-btn {% if active_link == 'others' %}active{% endif %}"
           href="{% url "other" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p class="sublink">Jiné</p>
        </a>
    </li>
</ul>
