<!-- toto je sublist do nav listu -->
{% load static %}
<ul>
    <li>
        <a class="c-ico-btn" href="{% url "working" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p>V práci</p>
        </a>
    </li>
    <li>
        <a class="c-ico-btn" href="{% url "vacation" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p>Na dovolené</p>
        </a>
    </li>
    <li>
        <a class="c-ico-btn" href="{% url "sick" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p>Neschopnost</p>
        </a>
    </li>
    <li>
        <a class="c-ico-btn" href="{% url "other" %}">
            <img src="{% static "images/icons8-circle.png" %} "
                 alt="circle icon"
                 width="10"
                 height="10">
            <p>Jiné</p>
        </a>
    </li>
</ul>
