{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    take vektor
{% endblock title %}
{% block content %}
    <section>
        <header>
            <h1>update vektoru zamestnance: {{ employee.id }}, {{ employee.slug }}</h1>
        </header>
        <hr>
        <main>
            <div>
                <img src="{% url "camstream" 12 %}" alt="">
            </div>
            <a href="{% url "save_vector_to_db" employee.slug %}">Odeslat</a>
        </main>
    </section>
{% endblock content %}
