{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    take vektor
{% endblock title %}
{% block content %}
    <section class="L-take-vector">
        <header class="L-take-vector__header">
            <h1>
                update vektoru zamestnance: <span class="c-info-highlight u-text-success">{{ employee.name }} {{ employee.surname }}</span>
            </h1>
        </header>
        <main class="L-take-vector__camstream">
            <div>
                <img src="{% url "camstream" 12 %}" alt="">
            </div>
        </main>
        <a href="{% url "save_vector_to_db" employee.slug %}"
           class="L-take-vector__scan">SCAN</a>
    </section>
{% endblock content %}
