{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    login
{% endblock title %}
{% block content %}
    <div class="L-form">
        <h1 class="L-form__header u-mb-small">Opravdu chcete smazat?</h1>
        <h2 class="L-form__user">"{{ user.username }}"</h2>
        <form method="post" class="L-form__form">
            {% csrf_token %}
            <button type="submit" class="L-form__submit">Ano, smazat</button>
            <a href="{% url 'user_list' %}" class="L-form__redirect">Zrušit</a>
        </form>
    </div>
{% endblock content %}
