{% load static %}
<div class="login-container">
    <h1 class="login__header u-mb-small">Log-in</h1>
    {% if form.errors %}
        <p class="login__erorr u-mb-small">Vaše uživatelské jméno a heslo se neshodují. Zkuste to prosím znovu.</p>
    {% else %}
        <p class="login__text u-mb-medium">Pro přihlášení prosím použijte následující formulář.</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" class="login__form">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }} " class="login__text ">Uživatelské jméno:</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}" class="login__text">Heslo:</label>
        {{ form.password }}
        <input type="submit" value="Přihlásit se" class="login__btn">
    </form>
    <p class="u-text-right">
        <a href="{% url "password_reset" %}" class="login__reset">Zapomenuté heslo?</a>
    </p>
</div>
