{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
    login
{% endblock title %}
{% block content %}
    <div class="c-form">
        <h1 class="c-form__header u-mb-small">Log-in</h1>
        <p class="c-form__text u-mb-medium u-text-info">Nejdříve se přihlaste.</p>
        <form action="{% url 'login' %}" method="post" class="c-form__form">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }} " class="c-form__text ">Uživatelské jméno:</label>
            {{ form.username }}
            <label for="{{ form.password.id_for_label }}" class="c-form__text">Heslo:</label>
            {{ form.password }}
            <input type="submit" value="Přihlásit se" class="c-form__btn">
        </form>
        <p class="u-text-right">
            <a href="{% url "password_reset" %}" class="c-form__reset">Zapomenuté heslo?</a>
        </p>
    </div>
{% endblock content %}
