{% extends "base.html" %}
{% load static %}
{% block title %}
    Application
{% endblock title %}
<!-- css stylesheet -->
{% block css %}
    <link rel="preload"
          href="{% static 'css/main.css' %}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
{% endblock css %}
<!-- no js -->
{% block nojs %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock nojs %}
<!-- end -->
<!-- main content -->
{% block body %}
    <div class="l-grid-container">
        <main class="l-grid-main">
            <section class="p-check-in">
                {% include "./l-check-in.html" %}
            </section>
            <section class="p-login">
                {% include "./l-login.html" %}
            </section>
        </main>
    </div>
{% endblock body %}
<!-- javascript block-->
{% block js %}
    <script src="{% static 'js/main.js'%}"></script>
{% endblock js %}
