{% extends "base.html" %}
{% load static %}
{% block title %}
    cam page
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cam.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock stylesheet %}
{% block content %}
    <main class="main">
        {% include "includes/header.html" %}
        <section class="container">
            <h1>Video stream s detekcí obličeje</h1>
            <div class="wrapper">
                <p>
                    speed: <span>{{ speed }}</span>/24fps
                </p>
                <hr>
                {% with speed_value=speed %}
                    <img src="{% url 'video_stream' speed_value %}"
                         alt="Video stream"
                         height="300"
                         width="300">
                {% endwith %}
            </div>
        </section>
        {% include "includes/footer.html" %}
    </main>
{% endblock content %}
