{% extends "app_main_base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    {% include "includes/app_main_header.html" %}
    <section class="L-pin">
        <h1 class="L-pin__header">
            Potvrzení pinu u osoby: <span class="c-info-highlight u-text-success">" {{ name }} "</span>
        </h1>
        <section class="c-numpad">
            <form action="">
                {% csrf_token %}
                <input type="text" id="pinInput" class="c-numpad__input" hidden />
                <div class="c-numpad__pin-block">
                    <p class="c-numpad__star" id="pinDisplay"></p>
                </div>
                <ul class="c-numpad__list" id="numpad">
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">1</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">2</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">3</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">4</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">5</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">6</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">7</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">8</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">9</p>
                    </li>
                    <li class="c-numpad__item" id="delPin">
                        <p class="c-numpad__text del">Del</p>
                    </li>
                    <li class="c-numpad__item btn">
                        <p class="c-numpad__text num">0</p>
                    </li>
                    <li class="c-numpad__item">
                        <button class="c-numpad__text enter">Enter</button>
                    </li>
                </ul>
            </form>
        </section>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/check_pin.js' %}"></script>
{% endblock js %}
