{% load static %}
{% include "includes/app_main_header.html" %}
<main class="l-check-in-container">
    <section class="c-camera-frame">
        <div class="front-side side">
            <img src="{% url "camstream" 12 %}"
                 class="c-camera-frame__video"
                 alt="camstream">
            <button class="c-button btn" id="captureBtn">SCAN</button>
            <script>
                document.getElementById("captureBtn").addEventListener("click", function () {
                    fetch("{% url 'capture' %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                    .then(response => response.json())
                    .then(data => console.log(data.message))
                    .catch(error => console.error("Chyba při zachycení snímku:", error));
                });
            </script>
        </div>
        <div class="back-side side">
            <section class="c-numpad">
                <div class="c-info">
                    <h3 class="c-info__heading">
                        PIN: <span class="c-info__digits" id="pin">****</span>
                    </h3>
                </div>
                <ul class="c-numpad__list">
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">1</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">2</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">3</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">4</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">5</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">6</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">7</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">8</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">9</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">Del</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text">0</p>
                    </li>
                    <li class="c-numpad__item">
                        <p class="c-numpad__text" id="sendPin">Enter</p>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</main>
