{% extends "app_main_base.html" %}
{% load static %}
{% block content %}
    <!-- header -->
    {% include "includes/app_main_header.html" %}
    {% for message in messages %}<p class="u-text-success">{{ message }}</p>{% endfor %}
    <section class="L-choose">
        <h1 class="L-choose__header">
            Možnosti pro: <span class="c-info-highlight u-text-success">{{ employee.name }} {{ employee.surname }}</span>
        </h1>
        <p>
            Status: <span class="c-info-highlight u-text-success">{{ employee.employee_status }}</span>
        </p>
        <form action="{% url "set_status" %}" method="post">
            {% csrf_token %}
            <input type="text" name="statusVal" id="statusVal" hidden />
            <input type="text" name="name" value="{{ name }}" hidden />
            <ul class="L-choose__list">
                <li class="L-choose__item {% if employee.employee_status|lower == "working" %}L-choose__hide{% endif %}"
                    data-value="working">
                    <button type="submit">Do práce</button>
                </li>
                <li class="L-choose__item {% if employee.employee_status|lower == "free" %}L-choose__hide{% endif %}"
                    data-value="free">
                    <button type="submit">Z práce</button>
                </li>
                <li class="L-choose__item {% if employee.employee_status|lower == "business_trip" %}L-choose__hide{% endif %}"
                    data-value="business_trip">
                    <button type="submit">Služební cesta</button>
                </li>
            </ul>
        </form>
    </section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/emp_login.js' %}"></script>
{% endblock js %}
