{% extends "base.html" %}
{% load static %}
{% block title %}
    application
{% endblock title %}
<!-- css stylesheet -->
{% block css %}
    <link rel="preload"
          href="{% static 'css/home.css' %}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
{% endblock css %}
<!-- no js -->
<noscript>
    {% block nojs %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock nojs %}
</noscript>
<!-- end -->
<!-- main content -->
{% block body %}
    <div class="l-grid-container">
        <main class="l-grid-main">
            <!--left side  navigation Menu -->
            {% include "includes/navigation.html" %}
            <!-- right side main content -->
            <section class="p-home-section">
                {% include "includes/header.html" %}
                <hr>
                <main class"content" id="content">
                </main>
            </section>
        </main>
    </div>
{% endblock body %}
<!-- javascript block-->
{% block js %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js'%}"></script>
{% endblock js %}
