{% extends "main_layout.html" %}
{% load static %}
{% block title %}
    home page
{% endblock title %}
<!-- css stylesheet -->
{% block css %}
    <link rel="preload"
          href="{% static 'css/home.css' %}"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
{% endblock css %}
<!-- no js -->
<noscript>
    {% block nojs %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock nojs %}
</noscript>
<!-- end -->
<!-- main content -->
{% block main_content %}
    <section class="p-home-section">
        <h1>Content</h1>
    </section>
{% endblock main_content %}
