{% extends "base.html" %}
{% load static %}
{% block title %}
    home page
{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock stylesheet %}
{% block content %}
    <main class="main">
        {% include "includes/header.html" %}
        <section class="container">
            <h1>Homepage</h1>
        </section>
        {% include "includes/footer.html" %}
    </main>
{% endblock content %}
