<div class="c-login-panel">
    <ul class="c-login-panel__list">
        <li class="c-login-panel__list__item">
            <a href="#"
               class="c-login-panel__list__item__text"
               id="disconnect"
               data-disconnect="false">Odhlasit</a>
        </li>
        <li class="c-login-panel__list__item">
            <a href="#"
               class="c-login-panel__list__item__text"
               id="settings"
               data-disconnect="false">Nastaveni</a>
        </li>
    </ul>
</div>
