@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-departments {
    @extend %select-none;
    @extend %border-radius;

    width: 100%;
    padding: 1em;
    border: 1px solid #00000039;
    box-shadow: 1px 1px 2px #00000039;
    margin-bottom: 1rem;

    &.status {
        background-image: var(--background-clr-gradient-secondary);
    }

    &.department {
        background-image: var(--background-clr-gradient-secondary);
    }

    &__header {
        color: var(--scheme-default);
        margin-bottom: 1em;

        i {
            color: var(--scheme-success);
        }
    }

    &__list {
        @include flex(flex-start, center);

        flex-wrap: wrap;
    }

    &__link {
        color: #d2d2d2;
    }

    &__item {
        margin-bottom: 0.625rem;

        &:not(:last-child) {
            margin-right: 0.625rem;
        }
    }
}
