@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-departments {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 2px #00000039;
    margin-bottom: 2em;

    &__header {
        color: var(--scheme-default);
        margin-bottom: 1em;

        i {
            color: var(--scheme-success);
        }
    }

    &__list {
        @include flex(flex-start, center);

        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 0.625rem;

        &:not(:last-child) {
            margin-right: 0.625rem;
        }
    }
}
