@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-detail {
    @extend %select-none;

    color: var(--scheme-default);
    width: 100%;
    padding: 1em;

    &__header {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid gray;

        &--username {
            @extend %border-radius;

            display: inline-block;
            padding: 0.3em 0.5em;
            background-color: var(--scheme-clr-3);
            box-shadow: 1px 1px 2px #0000004c;
            border: 1px solid black;
            margin-bottom: 1em;
        }
    }

    &__item {
        margin-bottom: 1em;

        p {
            user-select: text;

            strong {
                @extend %select-none;
            }
        }
    }

    &__redirect {
        transition: all 0.1s ease-in-out;
        color: var(--scheme-success);

        &:hover {
            text-decoration: underline;
        }
    }

    &__actions {
        @include flex(flex-start, center);
        @extend %select-none;
    }
}
