@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.l-controls {
    margin-bottom: 1em;

    &__list {
        padding: 1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 1em;
    }

    &__btn {
        @extend %center-flex;

        gap: 0.3em;
    }

    &__ico {
        background-color: transparent;
    }
}
