@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-form {
    @extend %margin-in;
    @extend %border-radius;
    @extend %select-none;

    color: var(--scheme-default);
    margin-top: 2em;
    width: clamp(400px, 60%, 60%);
    padding: 3em 5em;
    border: 1px solid #383838;

    &__user {
        @extend %border-radius;

        display: block;
        margin-bottom: 0.3em;
        padding: 0.3em 0.5em;
        background-color: var(--scheme-clr-4);
    }

    &__header {
        border-bottom: 1px solid var(--scheme-default);
    }

    &__form {
        input {
            @extend %border-radius;

            display: block;
            width: 100%;
            padding: 0.3em 1em;
            color: var(--scheme-default);
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.3em;
    }

    &__submit {
        @extend %border-radius;

        border: none;
        appearance: none;
        color: var(--scheme-default);
        width: 100%;
        margin-block: 1em;
        padding-block: 0.3em;
        background-color: var(--scheme-accent);
        transition: all ease-in-out 0.1s;

        &:hover {
            background-color: var(--scheme-accent-darker);
            box-shadow: 1px 1px 3px #0000004c;
            cursor: pointer;
        }
    }

    &__error {
        margin-bottom: 0.5em;

        p {
            margin-bottom: 0.5em;
        }
    }

    &__redirect {
        display: block;
        text-align: right;
        color: var(--scheme-success);
        transition: all 0.1s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}
