@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.c-form {
    width: 100%;
    padding: 5em;
    border-radius: 5px;
    box-shadow: 0 1px 5px #00000031;

    &__header {
    }
    &__text {
    }
    &__form {
    }
    &__label {
    }
    &__submit {
    }
}
