@use "../../utils/" as *;
@use "../../base/placeholders" as *;

$header-brdr-rds: 5px;

.L-header {
    @extend %select-none;

    flex-shrink: 0;
    width: 100%;
    background-color: var(--scheme-clr-2);
    border-bottom-right-radius: $header-brdr-rds;
    border-bottom-left-radius: $header-brdr-rds;
    box-shadow: 0 1px 1px #00000027;
    padding-block: 0.3em;
    border: 1px solid #00000027;
    border-top: none;

    &__list {
        @include flex(space-between, center, 0.5em);

        width: 100%;
    }

    &__item {
        padding-inline: 0.5em;
    }

    &__login {
        @include flex(flex-start, center);

        img {
            background-color: transparent;

            &[data-logged="false"] {
                animation: logo-rotation 2s ease-in-out 2s infinite;
            }
        }

        p {
            padding: 0.3em;
        }
    }
}
