@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-list {
    padding: 0.5em;

    &__wrapper {
        @include flex(space-between, center);
        @extend %select-none;

        margin-bottom: 2em;
    }

    &__title {
        color: var(--scheme-default);
        display: inline-block;
        border-bottom: 1px solid var(--scheme-default);

        img {
            background-color: transparent;
            margin-top: -3px;
        }
    }

    &__detail {
        color: var(--scheme-default);
        transition: all 0.1s ease-in-out;

        &.current {
            color: var(--scheme-success);
        }

        &:hover {
            color: var(--scheme-accent);
        }
    }

    &__info {
        @extend %select-none;

        margin-bottom: 1em;

        span {
            @extend %border-radius;

            display: inline-block;
            padding: 0.1em 0.5em;
            background-color: var(--scheme-clr-3);
            box-shadow: 1px 1px 1px #0000005e;
        }
    }

    &__table {
        width: 100%;
    }

    &__table-header {
        color: var(--scheme-default);
    }

    &__table-row {
        padding: 0.3em;
    }

    &__table-cell {
        @include scroll(3px);

        font-size: 0.75rem;
        border: 1px solid #434343;
        padding-inline: 0.5em;
        color: var(--scheme-default);

        &.id {
            min-width: 5ch;
            max-width: 6ch;
            padding-inline: 0.3em;
        }

        &.name,
        &.surname {
            min-width: 16ch;
            max-width: 20ch;
        }

        &.city {
            min-width: 15ch;
            max-width: 20ch;
        }

        &.username {
            min-width: 15ch;
            max-width: 20ch;
        }

        &.email {
            min-width: 15ch;
            max-width: 25ch;
        }

        &.street {
            min-width: 20ch;
            max-width: 25ch;
        }

        &.date {
            min-width: 15ch;
            max-width: 15ch;
        }

        &.suser,
        &.admin,
        &.active {
            min-width: 5ch;
            max-width: 5ch;
            text-align: center;
        }

        &.psc {
            min-width: 8ch;
            max-width: 8ch;
            text-align: center;
        }

        &.permission,
        &.group {
            text-align: center;
            min-width: 15ch;
            max-width: 15ch;
        }

        &.CAT {
            border: none;
            min-width: 13.75rem;
        }
    }

    &__actions {
        @include flex(center, center);
        @extend %select-none;

        .hide {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}
