@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-navigation {
    background-color: var(--scheme-clr-2);
    padding-inline: 1em;

    &__sublist {
        margin-left: 1.3em;
        padding-block: 0.3em;
    }

    &__item:not(:last-child) {
        margin-bottom: 0.5em;
    }
}
