@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-navigation {
    @extend %select-none;

    background: var(--background-clr-gradient-primary);
    padding-inline: 1em;

    &__sublist {
        margin-left: 1.5em;
        padding-block: 0.3em;
    }

    &__item:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .anim {
        animation: logo-rotation 1s linear 1s infinite;
    }
}
