/* --- navigation --- */

@use "../../utils/" as *;
@use "../../base/placeholders" as *;

$l-nav-font-context: 16;

.l-nav {
    background-image: var(--background-clr-gradient-secondary);
    width: em(200, $l-nav-font-context);
    padding: em(16, $l-nav-font-context);
    overflow: hidden;

    &__list {
        &__item {
            &:not(:last-child) {
                margin-bottom: em(5, $l-nav-font-context);
            }
        }
    }

    &__list.mainlist {
        margin-top: em(80, $l-nav-font-context);
    }

    &__list.sublist {
        margin-left: em(16, $l-nav-font-context);
        padding: em(16, $l-nav-font-context) 0;
        display: none;
    }
}
