@use "../../utils/" as *;
@use "../../base/placeholders" as *;

.L-status {
    @extend %select-none;

    padding-block: 0.5em;
    color: var(--scheme-default);

    &__header {
        margin-bottom: 0.5em;

        h1 {
            padding-bottom: 0.3em;
            display: inline;
            border-bottom: 1px solid var(--scheme-default);
        }
    }

    &__content-box {
        @extend %border-radius;

        padding: 0.5em;
        border: 1px solid black;
        margin-bottom: 0.5em;
        box-shadow: 1px 1px 3px #0000008a;

        p {
            margin-bottom: 0.5em;
        }
    }

    &__list {
        @include flex(flex-start, center, 0.5em);

        font-size: 0.75rem;
        flex-wrap: wrap;
    }
}
