@use "../base/placeholders" as *;
@use "../utils/" as *;

.login-container {
    @extend %margin-in;
    @extend %select-none;

    width: 50%;
    color: var(--text-clr-default);
    padding: 2em;
    background-image: var(--background-clr-gradient-secondary);
    border: 1px solid black;
    box-shadow: 1px 1px 2px #0000005a;

    .login__header {
        border-bottom: 1px solid gray;
    }

    .login__text {
        display: block;
    }

    .login__form {
        input {
            display: block;
            width: 100%;
            padding: 0.5em 1em;
            border-radius: 5px;
            margin-bottom: 0.5em;
        }
    }

    .login__btn {
        display: block;
        color: var(--text-clr-default);
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 3px 5px #000000c6;
        padding: 0.5em 1em;
        background-image: radial-gradient(
                circle at 30%,
                #ffffff0a 10%,
                #00000008 50%
            ),
            var(--background-clr-gradient-ternary);
        margin-block: 1em;
        margin-left: auto;
        transition: all ease-in-out 0.1s;
        cursor: pointer;
    }
}
