@use "../base/placeholders" as *;
@use "../utils/" as *;

.login-container {
    @extend %margin-in;
    @extend %select-none;

    width: 50%;
    color: var(--text-clr-default);
    padding: 3em;
    background-image: var(--background-clr-gradient-secondary);
    border: 1px solid black;
    box-shadow: 1px 1px 2px #0000005a;

    .login__header {
        border-bottom: 1px solid gray;
    }

    .login__text {
        display: block;
    }

    .login__form {
        input {
            display: block;
            width: 100%;
            padding: 0.5em 1em;
            border-radius: 5px;
            margin-bottom: 1em;
            box-shadow: 1px 2px 2px #00000068;

            &:not(.login__btn) {
                background-color: #00000056;
            }
        }
    }

    .login__btn {
        display: block;
        color: var(--text-clr-default);
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 3px 5px #000000c6;
        padding: 0.5em 1em;
        background-image: radial-gradient(
                circle at 30%,
                #ffffff0a 10%,
                #00000008 50%
            ),
            var(--background-clr-gradient-ternary);
        margin-block: 1em;
        margin-left: auto;
        cursor: pointer;

        &:hover {
            background-image: var(--background-clr-gradient-quartery);
        }

        &:active {
            box-shadow: 1px 1px 3px #000000c6;
            transform: translateY(1px);
        }
    }

    .login__reset {
        display: inline-block;
        color: #339af0;
        text-decoration: underline;
        padding: 0.3em;
        transition: 0.1s ease-in-out color;
        &:hover {
            color: white;
        }
    }
}
