@use "../utils/" as *;

.c-pointer {
  --pointer-size: 1rem;

  position: relative;

  &::after {
    content: ">>";
    z-index: 100;
    position: absolute;
    letter-spacing: -4px;
    font-size: var(--pointer-size);
    font-weight: 900;
    top: 50%;
    transform: translate(0, -50%);
    right: em(16, 16);
    transition: all 0.2s ease-in-out;
  }
}

[data-pointer="down"].c-pointer {
  &:not(.active_link) {
    outline: 1px solid #fff;
    background-color: var(--background-clr-nav-pointer);
  }

  &::after {
    letter-spacing: -14px;
    transform: translate(0%, -50%) rotate(90deg);
  }
}
