.c-time {
    text-align: center;

    &__text {
        font-family: "jet brains", monospace;
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1;
        text-shadow: 1px 1px 3px black;
    }
}
