// --- login form ---

@use "../utils/" as *;

.c-login-form {
    inset: 0;
    position: absolute;
    background-color: #0000008d;
    z-index: 100;

    &__container {
        width: 400px;
        height: 400px;
        margin: 100px auto;
        background-color: #1a1a1ae9;
        display: flex;
        justify-content: space-around;
        align-items: self-start;

        h2 {
            cursor: pointer;
            background-color: black;
            padding: 0.5em;
        }
    }

    &[data-show="hide"] {
        @include black-hole;
    }
}
