/* --- login rolleta --- */
@use "../utils/" as *;

$login-roleta-context: 16;

.c-login-roleta {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;

    &__list {
        margin-top: 35px;
        background-color: #2e2e2e;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1em 0;
    }

    &__item {
        margin-bottom: em(4, $login-roleta-context);
    }

    &__link {
        display: block;
        color: var(--text-clr-default);
        padding-block: em(4, $login-roleta-context);
        text-indent: 1ch;
        transition: all 0.1s ease-in-out;

        &:hover,
        &:focus {
            background-color: var(--background-clr-login-link);
            box-shadow: 0 1px 2px #00000085;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}
