/* --- navlink componenta --- */
@use "../utils/" as *;

.c-nav-link {
  --trans-time: 0.2s;

  @include flex(flex-start);

  color: var(--text-clr-default);
  padding-block: em(8, 16);
  border-radius: em(5, 16);
  user-select: none;
  transition: all ease-in-out var(--trans-time);
  overflow: hidden;
  position: relative;
  isolation: isolate;

  &,
  & > * {
    z-index: 100;
  }

  &::before {
    content: "";
    border-radius: em(5, 16);
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle, #ffffff16 0%, #00000008 100%),
      var(--background-clr-gradient-ternary);
    filter: blur(1px);
    transition: opacity ease-in-out var(--trans-time);
    opacity: 0;
    z-index: 1;
  }

  &:hover,
  &:focus,
  &.active_link {
    color: white;
    box-shadow: 1px 3px 10px black;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    box-shadow: 1px 1px 4px black;
    transform: translateY(-1px);
  }

  &__ico,
  &__next {
    background-color: transparent;
    margin-inline: 0.3rem;
  }

  &__text {
    flex: 1;
    margin-inline: 0.3rem;
    text-align: left;
  }

  &.sublink {
    &::before {
      background-image: var(--background-clr-gradient-quartery);
    }
  }

  &.sublink:hover,
  &.sublink:focus,
  &.sublink.active_link {
    opacity: 0.9;
  }
}
