img {
  margin-block: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(83, 163, 255, 0.489);
  box-shadow: 1px 3px 30px rgba(83, 163, 255, 0.297);
  transition: transform 0.2s ease-in-out;
}
img:hover {
  transform: scale(1.5) translateY(2rem);
}
p {
  padding: 1rem 0rem;
}
span {
  color: rgb(70, 172, 255);
}
