.main {
  opacity: 1;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  flex-grow: 1;
}
.header,
.footer {
  flex-grow: 0;
}
