<!DOCTYPE html>
{% load static %}
<html lang="cs" data-font-size="desktop">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                jmeno stranky
            {% endblock title %}
        </title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta content="" name="author" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="./assets/img/favicon-32x32.png"
              rel="shortcut icon"
              type="image/x-icon" />
        <!-- font preload -->
        <link as="font"
              crossorigin="anonymous"
              href="{% static 'fonts/webfonts/Font-face/static/Lato-Regular.woff2' %}"
              rel="preload"
              type="font/woff2" />
        <style>
        @font-face {
            font-family: lato;
            src: url("{% static 'fonts/webfonts/Font-face/static/Lato-Regular.woff2' %}") format("woff2"),
            url("{% static 'fonts/webfonts/Font-face/static/Lato-Regular.ttf' %}") format("truetype");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        body {
            opacity: 0;
            transition: opacity .1s ease-in;
        }
        </style>
        <!-- css  -->
        {% block css %}
            <link rel="preload"
                  href="{% static 'css/base.css' %}"
                  as="style"
                  onload="this.onload=null;this.rel='stylesheet'">
        {% endblock css %}
        <!-- no js -->
        <noscript>
            {% block nojs %}
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
            {% endblock nojs %}
        </noscript>
        <!-- end -->
    </head>
    <!--body-->
    <body class="base">
        {% block content %}
        {% endblock content %}
        {% block js %}
        {% endblock js %}
    </body>
</html>
