<!DOCTYPE html>
{% load static %}
<html lang="cs" data-theme='light'>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                jmeno stranky
            {% endblock title %}
        </title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta content="" name="author" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- <link href="./assets/img/favicon-32x32.png"
       rel="shortcut icon"
       type="image/x-icon" /> -->
        <!-- font preload -->
        <link as="font"
              crossorigin="anonymous"
              href="{% static 'fonts/webfonts/Font-face/roboto.woff2' %}"
              rel="preload"
              type="font/woff2" />
        <link as="font"
              crossorigin="anonymous"
              href="{% static 'fonts/webfonts/Font-face/JetBrainsMono.woff2' %}"
              rel="preload"
              type="font/woff2" />
        <style>
        @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/webfonts/Font-face/roboto.woff2' %}") format("woff2"),
            url("{% static 'fonts/webfonts/Font-face/roboto.ttf' %}") format("truetype");
            font-weight: 100 900;
            font-style: normal;
            font-display: swap;
        }


        body {
            opacity: 0;
            transition: opacity .1s ease-in;
        }
        </style>
        <!-- css  -->
        {% block css %}
            <link rel="preload"
                  href="{% static 'css/base.css' %}"
                  as="style"
                  onload="this.onload=null;this.rel='stylesheet'">
        {% endblock css %}
        <!-- no js -->
        <noscript>
            {% block nojs %}
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
            {% endblock nojs %}
        </noscript>
        <!-- end -->
    </head>
    <!--body-->
    <body class="base">
        {% block body %}
            <!-- html obsah -->
            <!-- html obsah -->
            <!-- html obsah -->
        {% endblock body %}
        {% comment %} <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script> {% endcomment %}
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        {% block js %}
            <!-- javascript block -->
        {% endblock js %}
    </body>
</html>
